<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WinForm.Properties.Settings.GameRentalConnectionString"
            connectionString="Data Source=USER;Initial Catalog=GameRental;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="WinForm.Properties.Settings.GRConnectionString" connectionString="Data Source=USER;Initial Catalog=GR;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="WinForm.Properties.Settings.GAMESConnectionString"
            connectionString="Data Source=USER;Initial Catalog=GAMES;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>